.middleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
}

.middleLeftContainer {
    display: flex;
    flex-direction: column;
}

.middleLinks {
    padding: 20px 50px;
    border-radius: 24px;
    background-color: #2154a2;
    color: white;
    border: 1px solid #2c5faa;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
}

.middleLinks:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all ease-in-out;
    background-color: #3a73c9;
}

.middleRightContainer {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    height: 100%;
    border-radius: 30px;
    padding: 40px 100px;
    border: 1px solid #BCEAD5;
}

.profileImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.profileImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #0e264a;
}
.profileImage:hover{
    cursor: pointer;
}

.profileNameWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.firstNameText {
    font-size: 18px;
    font-weight: 600;
    color: black;
    font-family: sans-serif;
}

.firstNameText2 {
    font-size: 18px;
    font-weight: 600;
    color: black;
    font-family: sans-serif;
    margin-left: 10px;
}

.firstNameValue {
    font-size: 16px;
    font-weight: 600;
}

.editInfoTextContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.editButton {
    padding: 8px 30px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 100px;
    background-color: #2154a2;
    color: white;
    border: none;
}

.saveButton {
    padding: 8px 30px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 60px;
    background-color: #2154a2;
    color: white;
    border: none;
}

.closeButton {
    padding: 8px 30px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    background-color: #2154a2;
    color: white;
    border: none;
}

.saveButton:hover,.closeButton:hover,.editButton:hover{
    cursor: pointer;
    background-color: #1c63cd;
    color: white;
    transition: all ease-in-out;
}

.editInfoContainer {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 40px;

}

.flexRowContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.editOption {
    font-size: 16px;
    font-weight: 500;
    color: black;
    font-family: sans-serif;
}

.editValue {
    font-size: 16px;
    font-weight: 600;
    color: black;
    font-family: sans-serif;
    margin-left: 10px;
}

.editInput {
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    font-family: sans-serif;
}